{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5">
        <h1 class="display-4">Fitness Assistant</h1>
        <div id="chat-log" class="mt-4 p-4 overflow-auto" style="height: 30rem;">
        </div>
        <div class="mt-4 input-group">
            <label for="chat-message-input"></label>
            <textarea id="chat-message-input" class="form-control" placeholder="Ask your question" rows="3"></textarea>
        </div>
        <div class="d-flex justify-content-end mt-3">
            <button id="clear-session-button" class="btn btn-primary">New Session</button>
        </div>
    </div>
{% endblock content %}

{% block additional_style %}
    <style>
        #chat-message-input:focus {
            outline: none;
            box-shadow: none;
        }

        h2 {
            margin-top: 36px;
        }

        p, h3 {
            margin-top: 18px;
        }

        ul {
            margin-bottom: 36px;
        }

        li div {
            max-width: 50%;
        }

    </style>
{% endblock additional_style %}

{% block scripts %}
    <script>
        const wss_protocol = window.location.protocol === "https:" ? "wss://" : "ws://";
        const chatSocket = new WebSocket(
            wss_protocol + window.location.host + "/ws/chat/"
        );
        let messages = [];

        function updateChatLog() {
            let str = '<ul class="list-unstyled">';
            messages.forEach(function (msg) {
                str +=
                    `<li class="d-flex ${msg.source === "bot" ? "justify-content-start" : "justify-content-end"}">
                        <div class="p-2 rounded ${msg.source === "bot" ? "text-dark" : "bg-light"}">
                            <span>${msg.msg}</span>
                        </div>
                    </li>`;
            });

            str += "</ul>";
            document.querySelector("#chat-log").innerHTML = str;
        }

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            const message = data["message"];
            messages.push(message);
            updateChatLog();
        };

        document.querySelector("#chat-message-input").focus();
        document.querySelector("#chat-message-input").onkeyup = function (e) {
            if (e.keyCode === 13) {
                const messageInputDom = document.querySelector("#chat-message-input");
                const message = messageInputDom.value;
                chatSocket.send(
                    JSON.stringify({
                        message: message,
                    })
                );

                messageInputDom.value = "";
            }
        };

        document.querySelector("#clear-session-button").onclick = function () {
            fetch("{% url 'assistant_new_session' %}", {
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                },
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === "success") {
                        messages = [];
                        updateChatLog();
                    }
                });
        };

    </script>
{% endblock %}