{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cu-fitness</title>
    <link rel ="stylesheet" href="{% static "bootstrap5/bootstrap.min.css"%}">
    <script src="{% static 'bootstrap5/popper.min.js' %}"></script>
     <script src="{% static 'bootstrap5/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
</head>
<body>
<header class="p-3 text-bg-warning border-bottom mb-2">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
         <img src="{% static 'image/con.jpg' %}" alt="Concordia" style="width: 300px; height: 80px; object-fit: cover;">

        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">home</a></li>
          <li><a href="#" class="nav-link px-2 text-dark">blog</a></li>
          <li><a href="#" class="nav-link px-2 text-dark">nutrition</a></li>
          <li><a href="#" class="nav-link px-2 text-dark">goal</a></li>
          <li><a href="#" class="nav-link px-2 text-dark">meal</a></li>
        </ul>

{#        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">#}
{#          <input type="search" class="form-control " placeholder="Search..." aria-label="Search">#}
{#        </form>#}

        <div class="text-end">
          <button type="button" class="btn btn-outline-primary me-2">Login</button>
          <button type="button" class="btn btn-outline-danger me-2">Sign-up</button>
        </div>
      </div>
    </div>
  </header>
{#<main class="container bg-white p-3 rounded">#}
{#    <h1 class="text-center">cu-fitness community</h1>#}
{#    <div class="row row-cols-2 row-gap-5">#}
{#        <div class ="col">#}
{#            <div class="card ">#}
{#  <div class="card-header">#}
{#      <a href="a">cufitness</a>#}
{#  </div>#}
{#  <div class="card-body"style="height: 150px">#}
{#      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>#}
{#  </div>#}
{#  <div class="card-footer text-body-secondary d-flex justify-content-between">#}
{#   <div>#}
{#       <img src="{% static 'image/avatar.webp'%}" class="rounded-circle" width="50",height="50"alt="...">#}
{#       aurora#}
{#   </div>#}
{#      <div>date:2025/2/10/13:35</div>#}
{#  </div>#}
{#</div>#}
{#        </div>#}
{#        <div class ="col">#}
{#            <div class="card ">#}
{#  <div class="card-header">#}
{#      <a href="a">cufitness</a>#}
{#  </div>#}
{#  <div class="card-body"style="height: 150px">#}
{#      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>#}
{#  </div>#}
{#  <div class="card-footer text-body-secondary d-flex justify-content-between">#}
{#   <div>#}
{#       <img src="{% static 'image/avatar.webp'%}" class="rounded-circle" width="50",height="50" alt="...">#}
{#       andy#}
{#   </div>#}
{#      <div>date:2025/2/10/13:35</div>#}
{#  </div>#}
{#</div>#}
{#        </div>#}
{#        <div class ="col">#}
{#            <div class="card ">#}
{#  <div class="card-header">#}
{#      <a href="a">cufitness</a>#}
{#  </div>#}
{#  <div class="card-body"style="height: 150px">#}
{#      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>#}
{#  </div>#}
{#  <div class="card-footer text-body-secondary d-flex justify-content-between">#}
{#   <div>#}
{#       <img src="{% static 'image/avatar.webp'%}" class="rounded-circle" width="50",height="50" alt="...">#}
{#       echo#}
{#   </div>#}
{#      <div>date:2025/2/10/13:35</div>#}
{#  </div>#}
{#</div>#}
{#        </div>#}
{#        <div class ="col">#}
{#            <div class="card ">#}
{#  <div class="card-header">#}
{#      <a href="a">cufitness</a>#}
{#  </div>#}
{#  <div class="card-body"style="height: 150px">#}
{#      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>#}
{#  </div>#}
{#  <div class="card-footer text-body-secondary d-flex justify-content-between">#}
{#   <div>#}
{#       <img src="{% static 'image/avatar.webp'%}" class="rounded-circle" width="50",height="50" alt="...">#}
{#       david#}
{#   </div>#}
{#      <div>date:2025/2/10/13:35</div>#}
{#  </div>#}
{#</div>#}
{#        </div>#}
{#        #}
{#    </div>#}
{#</main>#}
</body>
</html>