{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
<div class="container mt-4">
    <h2>Update Progress for Goal: {{ goal.goal.name }}</h2>
    <p>Initial Value: {{ goal.initial_value }} / Target Value: {{ goal.target_value }}</p>

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <a href="{% url 'goals:user_goals' %}" class="btn btn-secondary mt-3">Back to Goals</a>
</div>
{% endblock %}
