{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-9 col-sm-8">
                <form method="post" action="{% url 'profile' %}">
                    {% csrf_token %}
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel"
                             aria-labelledby="v-pills-profile-tab">
                            <h3>Profile</h3>

                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label for="first_name" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="first_name" name="first_name"
                                           value="{{ profile.first_name }}">
                                </div>
                                <div class="col-md-6">
                                    <label for="last_name" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="last_name" name="last_name"
                                           value="{{ profile.last_name }}">
                                </div>
                                <div class="col-md-6">
                                    <label for="gender" class="form-label">Gender</label>
                                    <select class="form-control" id="gender" name="gender">
                                        <option value="Male" {% if profile.gender == "Male" %}selected{% endif %}>Male
                                        </option>
                                        <option value="Female" {% if profile.gender == "Female" %}selected{% endif %}>
                                            Female
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="birth_date" class="form-label">Birth Date</label>
                                    <input type="date" class="form-control" id="birth_date" name="birth_date"
                                           value="{{ profile.birth_date|date:'Y-m-d' }}">
                                </div>
                                <div class="col-md-6">
                                    <label for="height" class="form-label">Height (cm)</label>
                                    <input type="number" class="form-control" id="height" name="height"
                                           value="{{ profile.height }}">
                                </div>
                                <div class="col-md-6">
                                    <label for="current_weight" class="form-label">Current Weight (Kg)</label>
                                    <input type="number" class="form-control" id="current_weight" name="current_weight"
                                           value="{{ profile.current_weight }}">
                                </div>
                            </div>

                            <h3 class="mt-4">Food Restrictions</h3>
                            <div class="mb-3">
                                <label for="allergies" class="form-label">Allergies</label>
                                <textarea class="form-control" id="allergies" name="allergies"
                                          rows="3">{{ profile.allergies }}</textarea>
                            </div>
                            <div class="mb-3">
                                <label for="dietary_preferences" class="form-label">Dietary Preferences</label>
                                <textarea class="form-control" id="dietary_preferences" name="dietary_preferences"
                                          rows="3">{{ profile.dietary_preferences }}</textarea>
                            </div>
                            <div class="col-12 text-end">
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}